*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #2F5572;
}
.box{
    width: 100px;
}
.box .box-item{
        box-sizing: border-box;
    }
@-webkit-keyframes sample{
    from{
        opacity: 1;
        columns: 10px 2;
    }to{
        opacity: 0.1;
    }
}
@keyframes sample{
    from{
        opacity: 1;
        -moz-columns: 10px 2;
             columns: 10px 2;
    }to{
        opacity: 0.1;
    }
}